<h1>Home</h1>

<div>
  <p>The Task Manager application allows users to create, update, view, and delete tasks.</p>
  <p>It is designed to help you manage your tasks efficiently and stay organized.</p>
</div>

<div>
  <%= image_tag 'rails.png', alt: 'Ruby on Rails', class: 'big-image' %>
</div>