<% content_for(:title, 'Edit Task') %>

<h1>Edit Task</h1>

<%= link_to 'Back To Tasks', tasks_path, class: 'btn btn-secondary mb-3' %>

<%= form_for @task, class: 'form' do |f| %>
  <%= render partial: 'form', locals: {f: f} %>

  <div class="form-group mb-2">
    <%= f.submit 'Edit Task', class: 'btn btn-primary' %>
  </div>
<% end %>