<h1>Tasks</h1>
<p>Here you can manage your tasks efficiently</p>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Example task rows -->
    <tr>
      <td>Task 1</td>
      <td>Description for task 1</td>
      <td>
        <%= link_to 'Edit', '#' %> |
        <%= link_to 'Delete', '#' %>
      </td>
    </tr>
    <tr>
      <td>Task 2</td>
      <td>Description for task 2</td>
      <td>
        <%= link_to 'Edit', '#' %> |
        <%= link_to 'Delete', '#' %>
      </td>
    </tr>
  </tbody>
</table>
