<% content_for(:title, 'Delete Category') %>

<h1>Delete Category</h1>

<%= link_to 'Back To Categories', categories_path, class: 'btn btn-secondary mb-3' %>

<%= form_for @category, class: 'form', method: 'delete' do |f| %>
  <p>Are you sure you want to delete this category?</p>
  <p><%= @category.name %></p>

  <div class="form-group mb-2">
    <%= f.submit 'Delete Category', class: 'btn btn-danger' %>
  </div>
<% end %>