<h1>Categories</h1>
<p>Here you can manage your categories efficiently</p>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Example category rows -->
    <tr>
      <td>Category 1</td>
      <td>Description for category 1</td>
      <td>
        <%= link_to 'Edit', '#' %> |
        <%= link_to 'Delete', '#' %>
      </td>
    </tr>
    <tr>
      <td>Category 2</td>
      <td>Description for category 2</td>
      <td>
        <%= link_to 'Edit', '#' %> |
        <%= link_to 'Delete', '#' %>
      </td>
    </tr>
  </tbody>
</table>
